
#forgot1 {
    /* text-align: center; */
    margin-top: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border: 1px solid black;
    border-radius: 2rem;
    margin-bottom: 2rem;
    background-color: #058359;
}
#forgot2{
    border: 1px solid white;
    background-color: transparent;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;

}
 #forgot2::placeholder{
     color: white;
     font-weight: 600;
 }
 #forgot3{
    border: 1px solid white;
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
 }
 #forgot3::placeholder{
    color: #9CC1B5;
    font-weight: 600;
 }
 #forgot4{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 #forgot5{
    display: flex;
    justify-content: flex-start;
    margin-left: 0.9rem;
    color: #9CC1B5;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

 }
 #forgot6{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
 }
 #forgot7{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9CC1B5;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;


 }
 #forgot9{
    border: 1px solid white;
    background-color: transparent;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
    text-align: center;
 }
 

 #fgt1 {
   background: linear-gradient(115.19deg, #058359 3.01%, #029967 105.76%);
   padding: 3rem;
   margin-top: 3rem;
   border-radius: 2rem;
 }
 #fgt2 {
   font-size: 1.2rem;
    font-weight: 500;
 }
 #fgt3 {
   background: transparent;
   color: white;
 }

 #fgt3::placeholder {
      color: white;
      opacity: 0.5; /* Firefox */
    }

    #fgt4 {
      width: 90%;
    font-size: 1.2rem;
    font-weight: 500;
    background: black;
    border: none;
  }